.header{
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 20px 0;
}

.header .logo img{
    width: 230px;
    height: 40px;
}
.navItems{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.navItem{
    margin-right: 15px;
}
.navItem a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .header{
        height: 100px;
        padding: 10px 0;
    }
    .header .logo img{
        width: 180px;
        height: 30px;
    } 
}